/****** General ***********/
body {
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.logo {
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    background-color: #dedede;
    padding: 10px;
    gap: 10px;
    box-shadow: 0 0 20px rgba(85, 85, 85, 0.479);
}

.search-input {

    background-color: #dedede;
    border: none;
    font-size: 15px;

}

.navbar {
    display: flex;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding: 20px;

}

.subtitle {
    display: flex;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;

}

.btn {

    margin: 20px;
    padding: 15px;
    width: 70%;
    border-radius: 30px;
    border: none;
    background: linear-gradient(180deg, #d47be3, #A362D7);
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(85, 85, 85, 0.411);
}

.how {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.step {
    display: flex;
    align-items: center;
    background: #f6f4f4;
    padding: 20px;
    border-radius: 25px;
    width: 85%;
    height: 30px;
    margin: 15px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.step-number {
    width: 28px;
    height: 28px;
    background: #9C6ADE;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -18px;
}

.step-content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 30px;
    font-size: 18px;
}

h2 {
    display: flex;
    text-align: start;
    padding: 20px;
    margin: 0;
}

.block {
    background-color: rgb(240, 240, 240);
}

.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    padding-bottom: 60px;
    width: 100%;
}

.paper {
    width: 89%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.paper img {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.paper h4 {
    margin: 0;
}

.paper p {
    text-decoration: none;
    margin: 0;
}

.text {
    color: rgb(37, 37, 37);
    padding: 15px;
    font-weight: bold;
}

.icon {
  font-family: "Shrikhand", serif;
  font-style: italic;
    margin: 0;
    color: #ffffff;
   font-weight: 900px;
}

footer {
    margin: 0%;
    padding: 0;
    background-color: rgb(33, 33, 33);
}

footer ul {
    list-style: none;
    margin: 0%;
    padding: 20px;
}


footer a {
    text-decoration: none;
    color: #ffffff;
}