
body {
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.loader {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: white;
    z-index: 9999;
    animation: hide 0s forwards 2s;
   
}


.bar {
    width: 200px;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}


.fill {
    height: 100%;
    width: 0;
    background: #333;
    animation: fill 1.5s forwards;
}


.loader i {
    font-size: 30px;
    opacity: 0;
    animation: show 0.2s forwards 1.5s;
}


@keyframes fill {
    to {
        width: 100%;
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}

@keyframes hide {
    to {
        opacity: 0;
        visibility: hidden;
    }
}


.content {
    opacity: 0;
    animation: appear 0.5s forwards 1.6s;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

.logo {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 150px;
    padding: 10px;
}

.logo2 {
   filter: grayscale(100%) brightness(0) invert(1);
    height: 30px;
    width: 150px;

}

.search-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #dedede;
    padding: 10px;
    box-shadow: 0 0 20px rgba(85, 85, 85, 0.479);
}

.search-input {
    width: 25%;
    display: flex;
    text-align: center;
    background-color: #dedede;
    border: none;
    font-size: 15px;

}

.navbar {
    display: flex;
    justify-content: center;
}

.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding: 25px;

}

.welcom {
    margin: 0%;

}

.button {
    display: flex;
    justify-content: center;

}

.btn {
    margin: 20px;
    padding: 15px;
    width: 70%;
    border-radius: 30px;
    border: none;
    background: linear-gradient(180deg, #D47BE3, #A362D7);
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(85, 85, 85, 0.411);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    animation: colorChange 0.5s ease forwards;
}

@keyframes colorChange {
    0% {
        background: linear-gradient(180deg, #D47BE3, #A362D7);
        box-shadow: 0 4px 12px rgba(85, 85, 85, 0.411);
    }


    100% {
        background: linear-gradient(180deg, #E68FF0, #B875E8);
        box-shadow: 0 12px 30px rgba(85, 85, 85, 0.8);
    }
}



.how {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    padding-top: 0%;
}

.step {
    display: flex;
    align-items: center;
    background: #f6f4f4;
    padding: 20px;
    border-radius: 25px;
    width: 85%;
    height: 30px;
    margin: 15px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.step-number {
    width: 28px;
    height: 28px;
    background: #9C6ADE;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -18px;
}

.step-content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 30px;
    font-size: 18px;
}

.section {
    margin: 10px;
}

.resto {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    margin: 0%;
}

.box {
    padding: 20px;
    background-color: rgb(233, 233, 233);
}

.card {
    background: rgb(255, 255, 255);
    border-radius: 12px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.badge {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #c8f1d2;
    color: green;
    padding: 8px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.heart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    color: black;
}

.heart::after {
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D44C9C;
    z-index: 2;
    opacity: 0;
}

.heart:hover::after {
    animation: fillHeart 0.5s ease forwards;
}

@keyframes fillHeart {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 0.7;
        transform: scale(1.15);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.text {

    padding: 10px;
}

a {
    text-decoration: none;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
    width: 85%;
}

.nom {
    color: gray;
    font-size: 14px;
}

.icon {
    font-family: "Shrikhand", serif;
    font-style: italic;
    font-size: 20px;
    color: #f2f2f2;
    font-weight: 9px;
    margin: 0;
    padding: 10px;
}


footer {

    margin: 0%;
    padding: 0;
    background-color: rgb(33, 33, 33);
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0%;
    padding: 10px;
}

.foot {
    color: #f6f4f4;
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

@media (min-width: 1280px) {
    .home {
        text-align: center;
    }

    .btn {
        width: 20%;
    }

    .how {
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .step {
        width: 50%;
    }

    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .card {
        width: 40%;
        height: 40%;
    }

    footer ul {
        gap: 5px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .logo {
        order: 1;
    }

    .section {
        margin-left: 10%;
    }

    .resto {
        padding-left: 10%;
    }

    .search-input {
        width: 8%;
    }

}