/****** General ***********/
body {
    margin: 5%;
    
}

.logo {
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 10px;
}

.search-container{
    display: flex;
    justify-content: center;
    background-color: #dedede;
    padding: 15px;
}

.search-input{

    background-color: #dedede;
    border: none;
    font-size: 15px;
    
}

.navbar {
    display: flex;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding: 20px;
}

.subtitle {
    display: flex;
    text-align: center;
}

.button {

    display: flex;
    justify-content: center;

}

.btn {
    margin: 20px;
    padding: 15px;
    width: 70%;
    border-radius: 30px;
    border: none;
    background-color: #9747FF;
    color: rgb(255, 255, 255);
}

.how {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 60px;


}

.filter {
    margin: 10px;
    padding: 20px;
    width: 88%;
    height: 70px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.289);
    background-color: rgb(240, 240, 240);
}

h2 {
    display: flex;
    text-align: start;
    padding: 20px;
    margin: 0;
}

.block {
    background-color: rgb(240, 240, 240);
}

.activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    padding-bottom: 60px;
    width: 100%;
}

.paper {
    width: 89%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.paper img {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.paper h4 {
    margin: 0;
}

.paper p {
    margin: 0;
}

.text {
    color: rgb(37, 37, 37);
    padding: 15px;
    font-weight: bold;
}

.icon {
padding: 15px;
margin: 0;
color: #ffffff;
font-size: large;
}

footer{
    margin: 0%;
    padding: 0;
    background-color: rgb(33, 33, 33);
}


footer ul{
    margin: 0%;
    padding: 20px;
}