body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.back {
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 24px;
    cursor: pointer;
}

.logo {

    height: 30px;
    padding: 0px;
}

.hero img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content {

    background: rgb(238, 238, 238);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -20px;
    padding: 20px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 22px;
    margin: 0;
}

.heart {
    font-size: 24px;
}

h2 {
    margin-top: 25px;
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
}

.dish {
    width: 99%;
    background: #fefefe;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.dish-title {
    font-weight: bold;
}

.dish-sub {
    color: #777;
    font-size: 13px;
    margin-top: 3px;
}

.price {
    font-weight: bold;
    white-space: nowrap;
}

.btn {
    display: block;
    margin: 30px auto;
    background: linear-gradient(135deg, #e686ff, #a96bff);
    padding: 12px 30px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.icon {
    font-family: "Shrikhand", serif;
    font-style: italic;
    font-size: 20px;
    color: #ffffff;
    font-weight: 9px;
    margin: 0;
    padding: 10px;
}


footer {
    margin: 0%;
    padding: 0;
    background-color: rgb(33, 33, 33);
}

footer ul {
    list-style: none;
    margin: 0%;
    padding: 10px;
}

.foot {
    color: #ffffff;
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}