body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
}

header {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.back {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 24px;
  cursor: pointer;
}

.logo {
  margin: 5px;
  height: 30px;
  padding: 0px;
}

.logo2 {
  filter: grayscale(100%) brightness(0) invert(1);
  height: 30px;
  width: 150px;
}

.hero img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  background: rgb(238, 238, 238);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -20px;
  padding: 20px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
  font-size: 30px;
}

.heart {
  position: absolute;
  right: 10px;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  color: black;
}

.heart::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D44C9C;
  z-index: 2;
  opacity: 0;
}

.heart:hover::after {
  animation: fillHeart 0.5s ease forwards;
}

@keyframes fillHeart {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    opacity: 0.7;
    transform: scale(1.15);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

h2 {
  border-bottom:solid 2px #99E2D0;
  width: 20%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.dish {
  position: relative;
  width: 99%;
  background: #fefefe;
  padding: 0%;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.entree {
  animation-delay: 0.2s;
}

.plat {
  animation-delay: 1s;
}

.dessert {
  animation-delay: 1.8s;
}

.price-container {
  display: flex;
  align-items: center;
}

.price-container i {
  width: 0;
  opacity: 0;
  transform: translateX(20px);
}

.dish:hover .price-container i {
  animation: slideIcon 0.4s forwards;
}

.price {
  display: flex;
  align-items: center;
  font-weight: bold;
  transform: translateX(0);
  padding: 0 10px;
}

.dish:hover .price {
  padding: 0;
  animation: movePrice 0.4s forwards;
}

@keyframes slideIcon {
  from {
    opacity: 0;
    transform: translateX(20px);
    width: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0);
    width: 100%;
    padding: 15px;
  }
}

@keyframes movePrice {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-20px);
  }
}

.text {
  min-width: 0;
  overflow: hidden;
  padding: 7px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.dish-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.dish-sub {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15.04px;
}

.slide-in-right {
  font-size: 25px;
  padding: 15px 0 15px 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  background: #c8f1d2;
  color: rgb(245, 245, 245);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn {
  display: block;
  margin: 30px auto;
  background: linear-gradient(135deg, #e686ff, #a96bff);
  padding: 12px 30px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(85, 85, 85, 0.411);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  animation: colorChange 0.5s ease forwards;
}

@keyframes colorChange {
  0% {
    background: linear-gradient(180deg, #D47BE3, #A362D7);
    box-shadow: 0 4px 12px rgba(85, 85, 85, 0.411);
  }

  100% {
    background: linear-gradient(180deg, #E68FF0, #B875E8);
    box-shadow: 0 12px 30px rgba(85, 85, 85, 0.8);
  }
}

footer {
  margin: 0%;
  padding: 0;
  background-color: rgb(33, 33, 33);
}

footer ul {
  list-style: none;
  margin: 0%;
  padding: 10px;
}

.foot {
  color: #ffffff;
  margin: 5px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 1280px) {
  .content {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
  }

  .title-row {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  footer ul {
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  .logo {
    order: 1;
  }

  .heart {
    right: 35%;
  }
}