body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}


    .loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: white;
  z-index: 9999;
  animation: hide 0s forwards 2s; /* disparaît après 1.6s */
}

/* Barre */
.bar {
  width: 200px;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

/* Barre qui se remplit */
.fill {
  height: 100%;
  width: 0;
  background: #333;
  animation: fill 1.5s forwards;
}

/* Icône à côté */
.loader i {
    font-size: 30px;
  opacity: 0;
  animation: show 0.2s forwards 1.5s;
}

/* Animations */
@keyframes fill {
  to { width: 100%; }
}

@keyframes show {
  to { opacity: 1; }
}

@keyframes hide {
  to { opacity: 0; visibility: hidden; }
}

/* Apparition du site */
.content {
  opacity: 0;
  animation: appear 0.5s forwards 1.6s;
}
@keyframes appear {
  to { opacity: 1; }
}

header {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.back {
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 24px;
    cursor: pointer;
}

.logo {

    height: 30px;
    padding: 0px;
}

.hero img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content {

    background: rgb(238, 238, 238);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -20px;
    padding: 20px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Shrikhand", serif;
    font-size: 22px;
    margin: 0;
}

.heart {
    font-size: 24px;
}

h2 {
    
    margin-top: 25px;
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
    border-bottom: 3px solid #c8f1d2;
    width: 10%;
}

.dish {
    position: relative;
    width: 99%;
    background: #fefefe;
   padding: 0%;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.price-container {
  display: flex;
  align-items: center;
  position: relative;
}

.price-container i {
  opacity: 0;
  transform: translateX(20px);
}


.dish:hover .price-container i {
  animation: slideIcon 0.4s forwards;
}

.dish:hover .price {
  animation: movePrice 0.4s forwards;
}

@keyframes slideIcon {
  from { opacity: 0; transform: translateX(20px); }
  to   { opacity: 1; transform: translateX(0); }
}


@keyframes movePrice {
  from { transform: translateX(0); }
  to   { transform: translateX(-20px); }
}


.text {
    padding: 7px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.dish-title {
    font-weight: bold;
}

.dish-sub {
    color: #777;
    font-size: 13px;
    margin-top: 3px;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    white-space: nowrap; 
  transform: translateX(0);

}

.slide-in-right {
    font-size: 18px;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    background: #c8f1d2;
    color: rgb(245, 245, 245);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn {
    display: block;
    margin: 30px auto;
    background: linear-gradient(135deg, #e686ff, #a96bff);
    padding: 12px 30px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.icon {
    font-family: "Shrikhand", serif;
    font-style: italic;
    font-size: 20px;
    color: #ffffff;
    font-weight: 9px;
    margin: 0;
    padding: 10px;
}


footer {
    margin: 0%;
    padding: 0;
    background-color: rgb(33, 33, 33);
}

footer ul {
    list-style: none;
    margin: 0%;
    padding: 10px;
}

.foot {
    color: #ffffff;
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

@media (min-width: 1280px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        padding-left: 8%;
        padding-right: 8%;
    }

    .title-row {
        display: flex;
        justify-content: center;
        gap: 10px;
    }


}